In [7]:
import numpy as np
from scipy import stats
import pandas as pd
import statsmodels.api as sm
import re 

# 그래프 Visualization
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus'] = False
font_location = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
font_name = fm.FontProperties(fname = font_location).get_name()
mpl.rc('font',family= font_name)
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

### 예측
# Decision tree
from sklearn.tree import export_graphviz
import graphviz
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
#랜덤 포레스트
from sklearn.ensemble import RandomForestRegressor
#그래디언트 부스팅
from sklearn.ensemble import GradientBoostingRegressor
# 정규분포 및 회귀분석 등
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.formula.api import ols
from statsmodels.api import qqplot, add_constant
import statsmodels.formula.api as smf
from statsmodels.tools.eval_measures import rmse
# Support Vector Machine (예측)
from sklearn.svm import SVR
# KNN
from sklearn.neighbors import KNeighborsRegressor

### 분류
#평가함수 (분류)
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
#로지스틱 회귀분석
from statsmodels.api import Logit
# Decision tree
from sklearn.tree import DecisionTreeClassifier
# Random Forest
from sklearn.ensemble import RandomForestClassifier
# Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
# Support Vector Machine (분류)
from sklearn.svm import SVC
# KNN
from sklearn.neighbors import KNeighborsClassifier
#XG BOOST
from numpy import loadtxt
from xgboost import XGBClassifier
from xgboost import plot_importance
#모델 평가
from sklearn.metrics import f1_score, roc_curve, auc

#주성분 분석
from sklearn.decomposition import PCA

#연관분석
## Index 생성
from mlxtend.preprocessing import TransactionEncoder
## 지지도 계산
from mlxtend.frequent_patterns import apriori
##연관규칙
from mlxtend.frequent_patterns import association_rules

#스케일링
from sklearn.preprocessing import scale, minmax_scale, robust_scale
#다중공선성 확인
from statsmodels.stats.outliers_influence import variance_inflation_factor
#선형 회귀모형
from sklearn.linear_model import LinearRegression
#변수선택법 (후진제거법)
from sklearn.feature_selection import RFE
#스케일 변환 -> 표준화 회귀계수 산출
from sklearn.preprocessing import StandardScaler

In [16]:
df_raw = pd.read_csv("/home/pirl/Statistics/Day3_0715/상품구매.csv", engine = "python", encoding="CP949")
df_raw.head()

     ID    PRODUCT
0  C-11   BAGUETTE
1  C-11    HERRING
2  C-11    AVOCADO
3  C-11  ARTICHOKE
4  C-11   HEINEKEN

In [17]:
ID = list (set(df_raw["ID"])) ## 유니크한 아이디 하나씩만 뽑아내기
ID.sort() ## 아이디 소팅

list_association = []
for i in ID :
    tmp_list=list(df_raw[df_raw["ID"]==i]["PRODUCT"])
    tmp_list.sort()
    list_association.append(tmp_list)
    
for row in list_association :
    print(row)

['APPLES', 'ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['APPLES', 'CORNED BEEF', 'HEINEKEN', 'HERRING', 'OLIVES', 'SARDINES', 'STEAK']
['APPLES', 'AVOCADO', 'BAGUETTE', 'ICE CREAM', 'PEPPERS', 'SARDINES', 'STEAK']
['APPLES', 'COKE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'COKE', 'HEINEKEN', 'HERRING', 'TURKEY']
['APPLES', 'CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['BAGUETTE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA', 'STEAK']
['APPLES', 'BAGUETTE', 'CORNED BEEF', 'HAM', 'HERRING', 'OLIVES', 'TURKEY']
['ARTICHOKE', 'AVOCADO', 'BAGUETTE', 'BOURBON', 'CORNED BEEF', 'HEINEKEN', 'HERRING']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'SODA', 'STEAK']
['BOURBON', 'CORNED BEEF', 'CRACKERS', 'HEINEKEN', 'HERRING', 'OLIVES', 'SODA']
['APPLES', 'BAGUETTE', 'CHICKEN', 'COKE', 'HEINEKEN', 'ICE CREAM', 'SARDINES']
['CHICKEN', 'COKE', 'CORNED BEEF', 'HEINEKEN', 'ICE CREAM', 'PEPPERS', 'SARDINES']
['APPLES', 'BAGUETTE', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'TURKEY']
['AVOCADO', 'BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']
['ARTICHOKE', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'OLIVES', 'PEPPERS', 'SODA']
['BOURBON', 'COKE', 'ICE CREAM', 'OLIVES', 'SARDINES', 'SODA', 'TURKEY']
['BOURBON', 'COKE', 'HAM', 'ICE CREAM', 'OLIVES', 'SODA', 'TURKEY']

In [19]:
enc = TransactionEncoder()
ds_raw_enc = enc.fit_transform(X=list_association)

df_asso = pd.DataFrame(ds_raw_enc, columns = enc.columns_)
df_asso.head()

,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
0,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
2,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
3,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
4,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True

In [20]:
min_support = 0.5

df_freq = apriori(df_asso, min_support = 0.5, use_colnames =True)
df_freq.round(3)

   support           itemsets
0     0.55          (BOURBON)
1     0.50             (COKE)
2     0.60         (HEINEKEN)
3     0.65           (OLIVES)
4     0.50  (BOURBON, OLIVES)

In [21]:
df_asso_rule = association_rules(df_freq, metric ="confidence", min_threshold=0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(OLIVES),0.55,0.65,0.5,0.909,1.399,0.142,3.85
1,(OLIVES),(BOURBON),0.65,0.55,0.5,0.769,1.399,0.142,1.95